<!doctype html>
<html lang="en-gb" class="no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Appointment</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Facebook meta tag -->
    <meta property="og:url" content="registration.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Doctor's Appointment" />
    <meta property="og:image" content="assets/images/softexpo_logo.png" />
    <meta property="og:site_name" content="BASIS SoftExpo" />
    <meta property="og:description" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/DALogin/assets/img/icon.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/DALogin/assets/css/reset.css" type="text/css" />
    <!-- mega menu -->
    <link href="~/DALogin/assets/js/mainmenu/bootstrap.min2.css" rel="stylesheet">
    <link href="~/DALogin/assets/js/mainmenu/menu.css" rel="stylesheet">
    <link rel="stylesheet" href="~/DALogin/assets/css/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- forms -->
    <link rel="stylesheet" href="~/DALogin/assets/js/form/sky-forms.css" type="text/css" media="all">
    <!-- tabs -->
    <link rel="stylesheet" type="text/css" href="vassets/js/tabs/assets/css/responsive-tabs2.css">
    <link rel="stylesheet" href="~/DALogin/assets/css/mobile-menu.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/DALogin/assets/css/select2.css" type="text/css" />
    <link rel="stylesheet" href="~/DALogin/assets/css/style1.css" type="text/css" />
    <link rel="stylesheet" href="~/DALogin/assets/css/style.css" type="text/css" />
    <!-- responsive devices styles -->
    <link rel="stylesheet" media="screen" href="~/DALogin/assets/css/responsive-leyouts.css" type="text/css" />
    <!-- get jQuery from the google apis -->
    <script type="text/javascript" src="~/DALogin/assets/js/universal/jquery.js"></script>
</head>
<body>
    <!-- prealoder area start -->
    <div id="preloader">
        <div class="indicator">
            <svg width="32px" height="12px">
                <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            </svg>
        </div>
    </div>
    <!-- prealoder area end -->
    <!--************************************
       Wrapper Start
       *************************************-->
    <!-- Header-START -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--  Header more info-START  -->
                    <div class="headerMoreInfo">
                        <!--     Phone block-START    -->
                        <div class="phoneBlock">
                            <i class="flatIcon Fphone2 flaticon-technology faa-flash animated"></i>
                            <p>Call Us now</p>
                            <h5 class="h5 as"><a href="tel:">+8801941-656301</a></h5>
                        </div>
                        <!--     Phone block-END   -->
                        <a href="#" class="button btnSize1">Doctor SignUp/Login</a>
                    </div>
                    <!--  Header more info-END    -->
                    <div class="responsiveSrollWrapper">
                        <!--  Header top-START  -->
                        <div class="headerTopInfo">
                            <div class="headerTopInfoContaner">
                                <!--  Logo-START  -->
                                <a href="~/DALogin/index.html" class="logo">
                                    <img src="~/DALogin/assets/img/final logo.png" alt="">
                                </a>
                                <!--  Logo-END    -->
                            </div>
                        </div>
                        <!--  Header top-END    -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header-END -->
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/DALogin/assets/js/lightbox/jquery.fancybox.js"></script>
    <!-- owl carousel -->
    <script type="text/javascript" src="~/DALogin/assets/js/carouselowl/owl.carousel.js"></script>
    <script type="text/javascript" src="~/DALogin/assets/js/select2/select2.min.js"></script>
    <!-- lazy load -->
    <script type="text/javascript" src="~/DALogin/assets/js/universal/jquery.lazyload.js"></script>
    <!-- CUSTOM JS -->
    <script src="~/DALogin/assets/js/theme.min.js"></script>
    <!-- tabs -->
    <script type="text/javascript" src="~/DALogin/assets/js/tabs/assets/js/responsive-tabs.min.js"></script>
    <script type="text/javascript" src="~/DALogin/assets/js/universal/custom.js"></script>
</body>

</html>
